.heading-1{
    
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    margin: 20px 0;
}

.first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.first-child img{
    width: 350px;
    height: 350px;
    /* border-radius:20%; */
    /* margin-top: 10vh;    */
}

.second-child{
    margin-bottom: 20px;
    margin-top: 20px;
}

.second-child h2{
    margin: 15px 0;
    font-size: 24px;
    font-weight: 300px;
}

.second-child p{
    font-size: 16px;
    font-weight: 300px;   
    letter-spacing: 1px;
}