.heading-1{
    
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    margin: 20px 0;
}

.profile-img img{
    width: 350px;
    border-radius: 20px;
    margin-top: 10vh;
    
}

.aboutus{
    display: flex;
    justify-content: space-evenly;
    
    margin: 40px;
   
}

.aboutus-text{
 width: 50vw;
 margin-top: 20px;
}

.aboutus-text h2{
    margin-left: 30px;
}

.aboutus-text p{
    margin-top: 30px;
    margin-left: 50px;
    letter-spacing: 2px;
}