.logo-img{
    width: 150px;
    height: 70px;
    margin-left: 20px;
}

.navbar{
    background-color: #3fb53f!important;
}

.footer-class{
    background-color: #3fb53f!important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-nav{
    background-color: #ffffff;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
}

.btn-nav::hover{
    background-color: #00ff00;
    color: white;
}

.form-control{
    background-color: #3fb53f!important;
}

.navbar-nav a{
    font-size: 20px;
    /* font-weight: bold; */
    padding-right: 24px!important;
    
    /* position: relative; */
    color: #013601;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav a:hover{
     color: #00ff00;
}

.navbar-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00ff00;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}


.carousel img{
    width: 100vw!important;
    height: 100vh!important;
}


.carousel-control-next-icon{
        color: #000000!important;

}

.btn-footer{
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.second-section{
    margin: 7vw!important;
    margin-left: 15vw!important;
}


.achievements img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.achievements h1{
    font-weight: 300px;
    font-size: 25px;
    margin-top: 10px;
}

.achievements p{
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
}

.achievements{
    margin-bottom: 20px;
}

.social-icons a {
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: transform 0.3s, opacity 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.fa-facebook {
  color: #1877F2;
}

.fa-linkedin {
  color: #0A66C2;
}

.fa-instagram {
  background: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-whatsapp {
  color: #25D366;
}